<div class = "container">

  <!-- 顯示個人資料 -->
  <div class="container">
    <div class="col-md-3 col-sm-4">
      <%= image_tag @user.avatar, class: "img-responsive img-rounded", width: '400px' %>
    </div>
    <div class="col-md-9 col-sm-8">
      <h2><strong><%= @user.name %></strong></h2>
      <p><strong><%= @user.email %></strong></p>
      <div><%= simple_format @user.intro %></div>
      <!-- Edit按鈕 -->
      <% if current_user.id == @user.id %>
        <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <hr>
  </div>

</div>