<div class = "container">

  <!-- 顯示個人資料 -->
  <div class="container">
    <div class="col-md-3 col-sm-4">

      <% if @user.avatar? %>
        <%= image_tag @user.avatar, class: "img-responsive img-rounded", width: '400px' %>
      <% else %>
        <img src="http://via.placeholder.com/400x400" class="img-responsive img-rounded">
      <% end %>
      
    </div>
    <div class="col-md-9 col-sm-8">
      <h2><strong><%= @user.name %></strong></h2>
      <p><strong><%= @user.email %></strong></p>
      <div><%= simple_format @user.intro %></div>
      <!-- Edit按鈕 -->
      <% if current_user.id == @user.id %>
        <%= link_to 'Edit Profile', edit_user_path, class: "btn btn-primary" %>
      <% end %>
      <!-- Friendship按鈕 -->
      <%= link_to 'Friend', friend_list_user_path, class: "btn btn-primary" %> 
    </div>
  </div>

  <br>
  <hr size="20px" align="center" width="100%">
  
  <div class="col-md-3 col-sm-4">
    <!-- followings => @followings -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @followings.count %></strong> followings</h3>
      </div>
      <div class="panel-body">
        <% @followings.uniq.each do |user| %>
          <!-- 按需求讀取資料 -->
          <%= link_to( user_path(user.id) ) do %>
            <div class="col-sm-12 col-md-12 my-user">
              <% if user.avatar? %>
                <%= image_tag(user.avatar, height: 40, width: 40, class: "img-circle") %>
              <% else %>
                <img src="http://via.placeholder.com/50x50" class="img-circle">
              <% end %>
              <%= user.name %><br><hr>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- followers => @followers -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @followers.count %></strong> followers</h3>
      </div>
      <div class="panel-body">
        <% @followers.uniq.each do |user| %>
          <!-- 按需求讀取資料 -->
          <%= link_to( user_path(user.id) ) do %>
            <div class="col-sm-12 col-md-12 my-user">
              <% if user.avatar? %>
                <%= image_tag(user.avatar, height: 40, width: 40, class: "img-circle") %>
              <% else %>
                <img src="http://via.placeholder.com/50x50" class="img-circle">
              <% end %>
              <%= user.name %><br><hr>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-sm-8">
    <!-- 顯示已評論過的餐廳列表 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @commented_restaurants.count %></strong> 已評論餐廳</h3>
      </div>
      <div class="panel-body">
        <% @commented_restaurants.uniq.each do |restaurant| %>

          <!-- 按需求讀取資料 -->
          <%= link_to( restaurant_path(restaurant.id) ) do %>
            <div class="col-sm-6 col-md-4 my-restaurant">
              <% if restaurant.image? %>
                <%= image_tag(restaurant.image) %>
              <% else %>
                <img src="http://via.placeholder.com/300x300">
              <% end %><br>
              <%= restaurant.name %><br>
            </div>
          <% end %>
          
        <% end %>
      </div>
    </div>

    <!-- @favorited_restaurants -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= @favorited_restaurants.count %></strong> 收藏的餐廳</h3>
      </div>
      <div class="panel-body">
        <% @favorited_restaurants.uniq.each do |restaurant| %>

          <!-- 按需求讀取資料 -->
          <%= link_to( restaurant_path(restaurant.id) ) do %>
            <div class="col-sm-6 col-md-4 my-restaurant">
              <% if restaurant.image? %>
                <%= image_tag(restaurant.image) %>
              <% else %>
                <img src="http://via.placeholder.com/300x300">
              <% end %> 
              <br>
              <%= restaurant.name %><br>
            </div>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>

</div>