<div class = "form container">
  <h1><%= @restaurant.name %></h1>

  <ul class="list-group">
    <li class="list-group-item"><strong>Opening Hours : </strong><%= @restaurant.opening_hours %></li>
    <li class="list-group-item"><strong>Tel : </strong><%= @restaurant.tel %></li>
    <li class="list-group-item"><strong>Address : </strong><%= @restaurant.address %></li>
    <li class="list-group-item"><strong>Description : </strong><%= @restaurant.description %></li>
    <br>
    <%= image_tag @restaurant.image, width: '600px' %>

  </ul>

  <br>
  
  <button class="btn btn-default" type="submit">
    <%= link_to 'Back to index', admin_restaurants_path %>
  </button>
</div>

