<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <p>[<%= @restaurant.category.name %>]</p>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
      <!-- Dashboard按鈕 -->
      <%= link_to 'Dashboard', dashboard_restaurant_path(@restaurant.id), class: "btn btn-default" %>
      <!-- Favorite && UnFavorite 按鈕 -->
      <%= render partial: "shared/favorite", locals: {restaurant: @restaurant} %>
    </div>

    <div class="clearfix"></div>
    
    <hr>

    <!-- 顯示與餐廳相關的評論 -->
    <div class="container">
      <% @restaurant.comments.each do |comment| %>
        <div>
          <% if comment.user.name? %>
            <h4><%= comment.user.name %>
          <% else %>
            <h4><%= comment.user.email.split("@").first %></h4>
          <% end %>
          <p><%= simple_format comment.content %></p>
          <p class="text-muted">
            <em><%= time_ago_in_words(comment.created_at) %></em>
          </p>
          <!-- admin 可以刪除任意評論 -->
          <% if current_user.admin? %>
            <!-- estaurant 和 Comment 是巢狀的關係，在使用 Comment 時，都需要傳入 Restaurant 物件 -->
            <%= link_to 'Delete', restaurant_comment_path(@restaurant, comment), method: :delete,data: {confirm:"Are you sure?"}, class: "btn btn-danger" %>
          <% end %>
        </div>
        <hr>
      <% end %>

      <!-- Comment評論 form_for -->
      <div class="container">
        <div class="row">
          <%= form_for [@restaurant, @comment] do |f| %>
            <div class="form_group">
              <%= f.text_area :content, placeholder: "留個言吧", class: "form_control" %> 
            </div>
            <div class="form_group">
              <%= f.submit class: "btn btn-primary" %>
              <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <br>

  </div>
</div>